# Node.js dependencies
node_modules/

# Log files
*.log

# Build output
dist/
build/

# Docker-specific files
docker-compose.override.yml
.docker/
*.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db
